@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Poppins:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  font-family: "Poppins", sans-serif;
}
.modal {
  background: rgba(78, 74, 74, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 150;
}

@layer components {
  .center-xy {
    @apply flex items-center justify-center;
  }
  .center-y {
    @apply flex items-center;
  }
  .button {
    @apply cursor-pointer rounded px-3 py-1 text-center text-sm;
  }
  .button-menu {
    @apply block w-full whitespace-nowrap px-5 py-2 text-sm transition-colors duration-200 ease-in-out hover:bg-gray-500;
  }
}
